{{#if isEditing}}
  {{edit-todo-item value=todo.description
      focus-out=(action 'save' todo)
      insert-newline=(action 'save' todo)}}
{{else}}
  <div class='field'>
    <input type='checkbox' checked={{todo.done}} onchange={{action 'toggleDone' todo}}>
    <label {{action 'edit' on='doubleClick'}}>{{todo.description}}</label>
    <button {{action 'remove' todo}} class="ui mini button remove">x</button>
  </div>
{{/if}}
